/* 
    Document   : DestinationDetail
    Created on : Nov 12, 2013, 11:19:59 AM
    Author     : Strebek
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
div{
}
h1{
    margin-bottom:200px;
}
.info{
    display:inline-block;
}
.byline{
    color:#808080;
}
#photo{
    margin:auto;
    border:solid black 1px;
    height:200px;
    width:300px;
    color:blue;
    display:inline-block;
}

