/* 
    Document   : DestinationDetail
    Created on : Nov 12, 2013, 11:19:59 AM
    Author     : Strebek
    Description:
        Purpose of the stylesheet follows.
*/
.blorb{
}
.info{
    width:400px;
    display:inline-block;
}
.byline{
    color:#808080;
}
#photo{
    float:left
    margin:auto;
    height:200px;
    width:300px;
    display:inline-block;
}

