/* <!-- .left_pane {
	position: relative; 
	float: left;
	width: 15%;
	
}
*/

.content {
        /* position: relative; */
	float: none;
	/* width: 83%; */
        width: 900px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
}

.destination {
        margin-top: 10px;
	float: left;
	clear: both;
        width: 900px;
        padding: 5px;
        border-bottom: solid 1px green;
}

.destination p {
    margin: 5px;
}

.search_name {
    width: 590px;
    float: left;
}

.search_addr {
    width: 300px;
    float: right;
        
}

.newDest {
        margin-top: 30px;
        margin-bottom: 20px;
	float: left;
	clear: both;
        width: 900px;
        padding: 5px;

}

.box_button {
    float: right;
    width: 190px;
    height: 100px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    
}

.description {
    float: left;
    clear: both;
    width: 900px;
    
}